<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Contacts</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

  <ion-card>
    <img src="https://images.pexels.com/photos/5537940/pexels-photo-5537940.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="ion">

    <p>Student Community Support its a websites that assist
     matric student who have no idea on how to apply to their 
     univeristy or college of the ir choice by applying for them on their behalf.</p>
     <p> offers  internship ,learnerships and bussary available post.</p>

  </ion-card>

</ion-content>
